#contact-info {font-size:.8em;	
}

h3 {background-color: #e9e5dc;
padding: 10px;
border-radius: 25px;
margin-top: 10px;
}

.responsibilities {font-size: .8em;
}



a:hover {
    color: hotpink;
}


ol > li {color: red;}